.popup__content {
  width: 88%;
  max-width: 430px;
  margin: auto;
  background-color: #FFF;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 666px) {
  .popup__content {
    margin: auto;
  }
}
