.popup__save {
  display: block;
  width: 83%;
  height: 46px;
  border: none;
  margin: 36px auto 25px;
  background-color: #000;
  color: #FFF;
  font: normal 400 14px/17px 'Inter', Arial, sans-serif;
  text-align: center;
  border-radius: 2px;
  transition: opacity 2s ease;
}

.popup__save:hover {
  opacity: .8;
  transition: opacity .3s ease;
}

@media screen and (min-width: 666px) {
  .popup__save {
    margin: 47px auto 35px;
    height: 50px;
    font: normal 400 18px/22px 'Inter', Arial, sans-serif;
  }
}
