.header__line {
  width: 100%;
  max-width: 880px;
  height: 1px;
  padding: 32px 0 0;
  object-fit: cover;
  align-self: center;
}

@media screen and (min-width: 1025px) {
  .header__line {
    margin: 0 auto 0;
    padding: 39px 0 0;
  }
}
