.profile__block {
  display: grid;
  width: 100%;
  grid-template-areas:
    "image"
    "profile__name-block"
    "profile__about"
    "profile__add-button";
}

@media screen and (min-width: 1025px) {
  .profile__block {
    width: 70%;
    max-width: 897px;
    margin: 0 auto 0;
    grid-template-areas:
      "image profile__name-block profile__add-button"
      "image profile__about profile__add-button";
    grid-template-columns: 15% 65% 20%;
  }
}
