@media screen and (min-width: 320px) and (max-width: 1024px) {
  .profile__block {
    display: grid;
    width: 100%;
    grid-template-areas:
      "image"
      "profile__name-block"
      "profile__about"
      "profile__add-button";
  }
}

@media screen and (min-width: 1025px) {
  .profile__block {
    width: 70%;
    margin: 0 auto 0;
    display: grid;
    grid-template-areas:
      "image profile__name-block profile__add-button"
      "image profile__about profile__add-button";
    grid-template-columns: 15% 65% 20%;
  }
}
