.profile__add-button {
  width: 280px;
  height: 49px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-color: transparent;
  background-image: url(../../../images/plus.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 33px auto 0;
  grid-area: profile__add-button;
  transition: opacity 2s ease;
}

.profile__add-button:hover {
  opacity: .6;
  transition: opacity .3s ease;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .profile__add-button {
    width: 148px;
    height: 49px;
    margin: 34px 10px auto auto;
    background-size: 20px 20px;
  }
}
