.element__trash {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  transition: opacity 1s ease;
}

.element__trash:hover {
  /*background-image: url(../../../images/Trash_active.svg);*/
  opacity: .6;
  transition: opacity .3s ease;
  cursor: pointer;
}
