.element {
  margin: 20px auto 0;
  width: 88%;
  display: grid;
  grid-template-areas:
    "mask mask"
    "title like";
  grid-template-columns: 80% 20%;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
}

@media screen and (min-width: 666px) {
  .element {
    width: 100%;
    margin: 0 auto 0;
  }
}
